#switchToLogin{
    -fx-text-fill: #ffffffb2;
}
#switchToRegistration{
    -fx-text-fill: #ffffffb2;
}
#switchToLogin:hover{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14.0;
}
#switchToRegistration:hover{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14.0;
}
.nav:hover{
    -fx-background-color: rgba(255,255,255,0.025);
    -fx-background-radius: 12.5;
}
#logOutButton:hover{
    -fx-background-color: blue;
    -fx-background-radius: 15;
}
#testik:hover{
    -fx-background-color: blue;
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf")
}
Label{
    -fx-font-family: "Montserrat SemiBold";
}
TextField{
    -fx-font-family: "Montserrat SemiBold";
}
PasswordField{
    -fx-font-family: "Montserrat SemiBold";
}
#test{
    -fx-text-fill: blue;
}

.error {
    -fx-background-color: rgba(255, 65, 65, 0.1);
    -fx-text-fill: #FF4141;
    -fx-background-radius: 12.5;
    -fx-border-color: rgba(255, 65, 65, 0.2);
    -fx-border-radius: 12.5;
}
.completed {
    -fx-background-color: rgba(95, 246, 47, 0.1);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 12.5;
    -fx-border-color: rgba(95, 246, 47, 0.2);
    -fx-border-radius: 12.5;
}
.activeButton {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.inactiveButton {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.activeArrow {
    -fx-opacity: 1;
}

.inactiveArrow {
    -fx-opacity: 0.7;
}

.arrowDown {
    -fx-scale-y: -1;
}

.scrollpane{
   -fx-background-color:transparent;
}
.scrollpane .viewport {
       -fx-background-color: transparent;
}

.dialog-pane {
    -fx-background-color: rgba(25, 25, 30, 0.95);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: #ffffff;
}

.dialog-pane .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane .label {
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -fx-font-size: 14px;
}

.dialog-pane .content {
    -fx-background-color: transparent;
}

.dialog-pane .button {
    -fx-background-color: rgba(95, 246, 47, 0.1);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Montserrat SemiBold";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: rgba(95, 246, 47, 0.2);
}
.dialog-pane .button:hover {
    -fx-background-color: rgba(95, 246, 47, 0.2);
}

.dialog-pane .button:default {
    -fx-background-color: rgba(255, 65, 65, 0.1);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Montserrat SemiBold";
    -fx-border-color: rgba(255, 65, 65, 0.2);
}
.dialog-pane .button:default:hover {
    -fx-background-color: rgba(255, 65, 65, 0.2);
}

.dialog-pane .graphic-container {
    -fx-padding: 10;
}